* {
  background-color: blue;
}

.chat-title{
  color: yellow;
  font-size: 4.7em;
  text-shadow: 4px 4px orange;
}

* .chat-container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: blue;
  color: yellow;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 90vh;
  border: 5px ridge yellow;
  margin: 10px;
}

.chat-container div {
  margin: 5x 10px 5px 10px;
  padding: 10px;
}

.breakline{
  border-bottom: 5px ridge yellow;
  width: 99.5%
}

.chat-log {
  flex: 1;
  overflow-y: scroll;
}

.chat-message-input input {
  font-size: 14px;
  width: 100%;
  color: yellow;
  border-color: yellow;
  background-color: rgb(38, 38, 209);
}

::placeholder {
  color: yellow;
}

.username-box {
  border: 5px ridge yellow;
  margin: 5px 5px 5px 5px;
}

.chat-item {
  margin: 10px 5px 10px 5px !important;
  border: 5px ridge yellow;
}

.chat-from-me {
  text-align: right;
}

.chat-login-page-container{
  width: 400px;
  height: 15vh;
  border: 5px ridge yellow;
  margin: 10px;
  color: yellow;
}

.login-button{
  color: yellow;
  background-color: rgb(38, 38, 209);
  border: 2px ridge yellow;
}

.login-input{
  color:yellow;
  background-color: rgb(38, 38, 209);
}

.size-message{
  font-size: 1.5vh
}